.marketing-activities-list-widget {
  .accordion-heading {
    > .extra-info {
      width: 60%;
      > .marketing-activity-type {
        margin-left: 8px;
        color: #888;
        width: 50%;
      }
      > .marketing-activity-date {
        margin-left: 8px;
        color: #888;
        width: 50%;
      }
    }
    > .campaign-name {
      width: 30%;
      margin: 9px 7px 0 0;
      padding-bottom: 1px;
      float: left;
    }
  }
  .marketing-activities {
    .marketing-activities-section-data-grid {
      h5 {
        margin-left: 20px;
      }
      .filter-box {
        float: none;
        padding: 15px 0 8px 0;
        margin: 0 20px 8px 20px;
        background: #efefef;
        border: 1px solid #e2e2e2;
        > .filter-container {
          > .select-filter-widget {
            margin: -8px 0 0 15px;
          }
        }
      }
      .grid-toolbar {
        margin: 4px 20px 0 20px;
        .pagination > ul > li a {
          width: 22px;
        }
      }
    }
  }
}
